.footer-section {
  height: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  z-index: 30;
  bottom: 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  margin: 0 auto;
}

.footer-content div {
  margin-bottom: 1rem;
}

.footer-content ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.footer-content li {
  margin: 0 1rem;
}

.footer-nav a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  position: relative;
  cursor: pointer;
}

.footer-nav a:before {
  content: " ";
  width: 2rem;
  height: 0.2rem;
  background: linear-gradient(90deg, #a993fe 0%, #7e61e7 100%);
  border-radius: 0.5rem;
  position: absolute;
  bottom: -0.6rem;
  opacity: 0;
  transform: translateX(-1.5rem);
  transition: all 0.3s ease;
}

.footer-nav a:hover::before {
  width: 100%;
  transform: translateX(0);
  opacity: 1;
}

@media screen and (max-width: 550px) {
  .footer-nav a,
  .footer-copyright p {
    font-size: 0.8rem;
  }
  .instagram-icon,
  .twitter-icon,
  .linkedin-icon {
    width: 25px;
    height: 25px;
  }
  .github-icon {
    width: 19px;
    height: 19px;
  }
}

@media screen and (max-width: 470px) {
  .footer-nav a,
  .footer-copyright p {
    font-size: 0.5rem;
  }
  .footer-content div {
    margin-bottom: 0.5rem;
  }
}
@media screen and (max-width: 350px) {
  .footer-nav a,
  .footer-copyright p {
    font-size: 0.4rem;
  }
  .instagram-icon,
  .twitter-icon,
  .linkedin-icon {
    width: 18px;
    height: 18px;
  }
  .github-icon {
    width: 13px;
    height: 13px;
  }
}
