/* Navbar */
.navbar-section {
  height: 100%;
  position: sticky;
  top: 0;
  z-index: 30;
  backdrop-filter: blur(50px);
}
.navbar-container {
  display: flex;
  padding: 1rem 10%;
  justify-content: space-between;
  align-items: center;
}
.navbar-items ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  text-decoration: none;
}

.navbar-items a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}

.navbar-items a:before {
  content: " ";
  width: 2rem;
  height: 0.2rem;
  border-radius: 0.5rem;
  position: absolute;
  bottom: -0.6rem;
  opacity: 0;
  transform: translateX(-1.5rem);
  transition: all 0.3s ease;
}

.navbar-items a:hover::before {
  width: 100%;
  transform: translateX(0);
  opacity: 1;
}

/* Navbar Button */
.nav-btn {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.4rem;
  line-height: 0;
  cursor: pointer;
  transition: all 0.4s ease;
  display: none;
}

/* Media Query for Responsive */
@media screen and (max-width: 820px) {
  .nav-btn,
  .navbar-items {
    display: flex;
    z-index: 30;
  }
  .navbar-items {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -20rem;
    left: 0;
    width: 100%;
    transition: all 0.3s ease;
  }
  .navbar-items ul {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  .navbar-items.active {
    top: 4.65rem;
  }
  @media screen and (max-width: 426px) {
    .nav-btn {
      width: 2rem;
      height: 2rem;
    }
  }
}
