.experience-card {
  border-radius: 0.6rem;
  width: auto;
  height: 350px;
  overflow-y: auto;
  background: #2e3944;
  border: 1px solid #124e66;
}
.experience-card-content {
  padding: 1.5rem;
  margin: 0 1rem;
}
.experience-card-content h1 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.2rem;
}
.experience-card-duration {
  display: inline;
  font-size: 0.7rem;
  font-weight: 400;
  border-radius: 0.3rem;
  padding: 0.3rem;
  background: #212a31;
}
.experience-card-content ul {
  margin: 0.4rem 0;
  list-style-position: inside;
}
.experience-card-content ul li {
  font-size: 0.8rem;
  font-weight: 400;
  position: relative;
}
.experience-card-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: #d3d9d4;
  background-color: #124e66;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 1025px) {
  .experience-card h1 {
    font-size: 0.9rem;
  }
  .experience-card-duration {
    font-size: 0.6rem;
  }
  .experience-card ul li {
    font-size: 0.7rem;
  }
  .experience-card-button {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 430px) {
  .experience-card h1 {
    font-size: 0.7rem;
  }
  .experience-card-duration {
    font-size: 0.5rem;
  }
  .experience-card ul li {
    font-size: 0.6rem;
  }
  .experience-card-button {
    font-size: 0.7rem;
  }
}
