.homepage-section {
  height: 100%;
  margin: 0 10%;
  position: relative;
  margin-bottom: 5rem;
}
/* Title are the same css - fix later */
/* Navbar */
.navbar-section {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 29px 80px rgba(0, 0, 0, 0.3);
}
.navbar-items li:nth-child(5) > a {
  color: red;
}
.navbar-items a:before {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
.nav-btn {
  background: #124e66;
}
.nav-btn:hover {
  color: #124e66;
  background: #748d92;
  border: 1px solid #d3d9d4;
}
/* Home */
.home-name {
  color: #124e66;
  border-right-color: #124e66;
}
.home-btn-container button {
  border: #2e3944 1px solid;
}
.home-btn-container button:hover,
.home-btn-container button:hover {
  background: #748d92;
}
.home-icon {
  fill: #d3d9d4;
}

.home-icon:hover {
  fill: #748d92;
}

/* About */
.about-title {
  color: #124e66;
}

/* Experience */
.experience-title {
  color: #124e66;
}
.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  color: #124e66;
  border: 1px solid #124e66;
  background: #748d92;
}
.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover {
  background: #212a31;
  color: #124e66;
}
/* Experience Card */
/* Contact */
.contact-title {
  color: #124e66;
}
.contact-form input,
.contact-form textarea {
  background: #2e3944;
  border: 1px solid #124e66;
}
.contact-form button {
  color: #fff;
  border: 1px solid #124e66;
  background: linear-gradient(90deg, #748d92 0%, #124e66 100%);
}
.contact-form button:hover {
  background: transparent;
}
/* Footer */
.footer-nav a {
  color: #d3d9d4;
}
.footer-nav li:nth-child(5) > a {
  color: red;
}
.footer-nav a:before {
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

/* Login */
.login-container {
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: #212a31;
}
.login-form input,
.login-form textarea {
  background: #2e3944;
  border: 1px solid #124e66;
}
.forgot-password a {
  color: #fff;
}
.login-form button {
  color: #fff;
  border: 1px solid #124e66;
  background: linear-gradient(90deg, #748d92 0%, #124e66 100%);
}

.login-form button:hover {
  color: #124e66;
}

/* Email  */
.email-search-bar {
  border: 1px solid #124e66;
}
.search:focus-within {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}
.search-button-icon:hover {
  background: #748d92;
}
.search-input::placeholder,
.email-search-bar .material-symbols-outlined {
  color: #ccc5c5;
}
.email-list-container {
  border: 1px solid #124e66;
}
.email-item.open {
  color: #124e66;
}
.email-item:hover {
  border: 1px solid #d3d9d4;
  color: #2e3944;
  background: transparent;
}
/* Messages */
.message-container {
  background: #2e3944;
  border: 1px solid #124e66;
}
.message-container button {
  color: #fff;
  border: 1px solid #124e66;
  background: linear-gradient(90deg, #748d92 0%, #124e66 100%);
}

.message-container button:hover {
  background: transparent;
}
