/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

* {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: "Poppins", sans-serif;
  -moz-osx-font-smoothing: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  color: #fff;
  background-color: #060417;
  height: 100vh;
  min-height: fit-content;
  overflow-x: hidden;
}
/* .line {
  border: 2px solid #6751b9;
  border-radius: 5px;
  margin-top: 4rem;
  margin-bottom: 2rem;
} */

/* Define scrollbar styles */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6751b9; /* Color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners */
}

/* Track */
::-webkit-scrollbar-track {
  background: #060417; /* Color of the scrollbar track */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1f0091; /* Color of the scrollbar handle on hover */
}
