/* MESSAGE SECTION */
.message-section {
  height: 100%;
  margin: 5rem 10%;
  position: relative;
}

.message-container {
  border-radius: 0.6rem;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: #2e3944;
  border: 1px solid #124e66;
}

.message-body {
  padding: 1rem;
  height: 50rem;
  overflow-y: auto;
}
.message-body h1,
.message-body h3,
.message-body p {
  margin-bottom: 5px;
}

.message-container button {
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.6rem;
  padding: 0.7rem 1.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
  margin: 1rem;
  flex: 1;
  color: #fff;
  border: 1px solid #124e66;
  background: linear-gradient(90deg, #748d92 0%, #124e66 100%);
}
.message-container button:hover {
  background: transparent;
}

.message-container a {
  display: block;
  text-decoration: none;
  color: inherit;
}
