.login-section {
  height: 100vh;
  margin: 0 10%;
  overflow-x: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container {
  width: 50%;
  margin: 0 auto;
  backdrop-filter: blue(20px);
  padding: 50px 40px;
  border-radius: 20px;
}

.login-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-form input,
.login-form textarea {
  width: 100%;
  font-size: 0.9rem;
  border-radius: 0.6rem;
  padding: 1rem;
  margin-bottom: 1rem;
}
.forgot-password {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.forgot-password a {
  text-decoration: none;
}
.forgot-password a:hover {
  text-decoration: underline;
}
.login-form button {
  font-size: 1rem;
  font-weight: 500;
  border-radius: 0.6rem;
  padding: 0.7rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
