/* EMAIL SECTION */

/* Search Bar */
.email-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  border-radius: 28px;
  margin-bottom: 2rem;
}
.search-button-icon {
  background: transparent;
  cursor: pointer;
  border: none;
  display: flex;
}
.search-button-icon:hover {
  border-radius: 28px;
}

.search-input {
  font-size: 1rem;
  font-weight: 500;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  flex: 1;
}
/* Email Section Body */
.email-list-container {
  padding: 10px;
  border-radius: 0.6rem;
}
.email-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.email-tools > div:first-child,
.email-tools > div:last-child {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.email-tools span {
  cursor: pointer;
}

/* Email Section List Body */
.email-list-body {
  height: 700px;
  overflow-y: auto;
}

.email-list-body div {
  display: flex;
  gap: 1rem;
}
.email-icon {
  cursor: pointer;
}
.email-content {
  flex-grow: 1;
  margin-left: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.email-content p:nth-child(1) {
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.email-content p:nth-child(2) {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.email-content p:nth-child(3) {
  width: 10%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
