/* EMAIL SECTION */
.email-section {
  height: 100%;
  margin: 0 10%;
  position: relative;
}

/* Search Bar */
.email-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  border-radius: 28px;
  border: 1.5px solid #6751b9;
  margin-bottom: 2rem;
}
.search:focus-within {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}
.search-button-icon {
  background: transparent;
  cursor: pointer;
  border: none;
  display: flex;
}
.search-button-icon:hover {
  background-color: #6751b9;
  border-radius: 28px;
}

.search-input {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  flex: 1;
}
.search-input::placeholder,
.email-search-bar .material-symbols-outlined {
  color: #ccc5c5;
}

/* Email Section Body */
.email-list-container {
  padding: 10px;
  border-radius: 0.6rem;
  border: 1.5px solid #6751b9;
}
.email-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.email-tools > div:first-child,
.email-tools > div:last-child {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.email-tools span {
  cursor: pointer;
}

/* Email Section List Body */
.email-list-body {
  height: 700px;
  overflow-y: auto;
}

.email-list-body div {
  display: flex;
  gap: 1rem;
}

.email-item:hover {
  box-shadow: 0 0 2px #a892fe;
  color: #a892fe;
  background: transparent;
}

.email-icon {
  cursor: pointer;
}

.email-content {
  flex-grow: 1;
  margin-left: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.email-content p:nth-child(1) {
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.email-content p:nth-child(2) {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.email-content p:nth-child(3) {
  width: 10%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
