/* ABOUT SECTION */
.about-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}
.about-details-container {
  height: 400px;
  margin: 0 5%;
  overflow-y: auto;
}
.text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.text-container p {
  margin-bottom: 1rem;
}
@media screen and (max-width: 1025px) {
  .about-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 426px) {
  .about-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .text-container p {
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 376px) {
  .about-title {
    font-size: 1.75rem;
  }
}
@media screen and (max-width: 321px) {
  .about-title {
    font-size: 1.5rem;
  }
}
